[submodule "mods/cme"]
	path = mods/cme
	url = https://github.com/clinew/cme
[submodule "mods/craftguide"]
	path = mods/craftguide
	url = https://github.com/clinew/craftguide
[submodule "mods/farming_plus"]
	path = mods/farming_plus
	url = https://github.com/clinew/farming_plus
[submodule "mods/mapfix"]
	path = mods/mapfix
	url = https://github.com/minetest-mods/mapfix
[submodule "mods/pyramids"]
	path = mods/pyramids
	url = https://github.com/clinew/pyramids
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://github.com/zeuner/signs_lib
